<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/fourtik.css">
    <link rel="icon" type="image/x-icon" href="../images/4 tick symbol (1).svg">
    <title> فورتیک </title>
</head>
<body>
    <div class="fourtikLogo flex">
    <img class="fourtik-logo" src="../images/4-tick-logo-F36AB704-55C8-4F49-9C2E-4E250350CB8F.png">
    </div>
    <h2 class="title-1 titles flex">آزمونی آنلاین با استاندارد کنکور نه بیشتر نه کمتر</h2>
    <div class="student-pictures flex">
        <img class="pic-1 group-pics" src="../images/Group-30710333-92D7-49F9-BB05-23F12A6495AA.png">
        <img class="pic-2 group-pics" src="../images/Group-05A1F407-9184-4D3E-9950-D030774053BB.png">
        <img class="pic-3 group-pics" src="../images/Group-4B5EFA13-796B-45D8-8DFC-08C01AE5EE73.png">
        <img class="pic-4 group-pics" src="../images/Group-2670F519-1F53-4071-B00D-AA08134034FF.png">
    </div>
    <div class="equation flex">
        <p class="equ-text" dir="rtl">۱۴۰۱ میلیون ریال جایزه</p>
        <img class="equal-icon equ-pics" src="../images/Group-7-530A2FC0-B8BE-4F71-BC2C-B16DF2C42B04.png">
        <p class="equ-text" dir="rtl">آزمون کنکور سراری ۱۴۰۱</p>
        <img class="sum-icon equ-pics" src="../images/Group-3-E7D3C8F1-D5BF-45CB-AEE1-4FDC6D8D17E2.png">
        <p class="equ-text" dir="rtl">۵ مرحله آزمون جامع آنلاین</p>
    </div>
    <div class="button flex">
        <p class="signUPbutton">ثبت نام</p>
    </div>
    <h2 class="title-2 titles flex">  ویژگی های   <span style="color: #1E90FF">&nbsp;۵ مرحله&nbsp;</span>  آزمون جامع </h2>
    <div class="main">
    <div class="five-attributes flex">
        <div class="general">
        <div class="attributes">
        <figure>
            <img class="attributes-img" src="../images/streamlineiconbrochureflyer1400x400-02A6AF8F-A15D-4E9B-A10A-234CA648A6B8.png">
            <figcaption class="attribute-caption">تضمین مطابقت با ۷۰٪ سوالات کنکور</figcaption>
        </figure>
        </div>
        <p class="number">۵</p>
        </div>
        <div class="general">
        <div class="attributes">
        <figure>
            <img class="attributes-img" src="../images/streamlineiconeducationowl1400x400-2A9E25FC-2A3B-4F6F-B856-E559326DEAD0.png">
            <figcaption class="attribute-caption">برگزاری آزمون با توجه به تغییرات جدید دفترچه</figcaption>
        </figure>
        </div>
        <p class="number">۴</p>
        </div>
        <div class="general">
        <div class="attributes">
        <figure>
            <img class="attributes-img" src="../images/streamlineiconincreasinglinebarchart400x400-5985A2FB-A266-47B5-93A4-5F87D73F2B8F.png">
            <figcaption class="attribute-caption">تحلیل کامل تصویری و تشریحی هر آزمون</figcaption>
        </figure>
        </div>
        <p class="number">۳</p>
        </div>
        <div class="general">
        <div class="attributes">
        <figure>
            <img class="attributes-img" src="../images/streamlineiconpencilwritingsheet400x400-6496E254-DA8D-4FDE-A027-FF96FC46FF5A.png">
            <figcaption class="attribute-caption">کارنامه کاربردی</figcaption>
        </figure>
        </div>
        <p class="number">۲</p>
        </div>
        <div class="general">
        <div class="attributes">
        <figure>
            <img class="attributes-img" src="../images/streamlineicondesignmockup400x400-EC23C48E-0B71-4199-82DF-CC4E48521B8F.png">
            <figcaption class="attribute-caption">طراحان و مولفان درجه یک کشوری</figcaption>
        </figure>
        </div>
        <p class="number">۱</p>
        </div>
    </div>
    </div>
    <div class="button flex">
        <p class="testButton">شرکت در آزمون</p>
    </div>
    <h2 class="title-3 titles flex">چطور جایزه بگیریم؟</h2>
    <div class="main">
    <div class="prize flex">
        <div class="general-2">
        <div class="prizes">
        <figure>
            <img class="step-4 prize-pic" src="../images/streamlineiconcontractdeal1400x400-D1F91DE0-BD7B-4D30-A872-7E71CBDC6D0D.png">
            <br>
            <figcaption class="prize-caption">۷ تیم دیگه هم ۴۰۱ میلیون ریال جایزه می گیرند!</figcaption>
        </figure>
        </div>
        <p class="number">۴</p>
        </div>
        <img class="nextStepIcon" src="../images/Fill-24-9ADB3659-2C03-4AD9-B6EA-1B24C9458999.png">
        <div class="general-2">
        <div class="prizes">
            <figure>
            <img class="step-3 prize-pic" src="../images/streamlineicongiftboxtag400x400-003EBA87-70D9-4430-A0FC-AD8C50BE5BEC.png">
            <figcaption class="prize-caption">تیمی که بالاترین میانگین تراز را در کنکور سراسری ۱۴۰۰ داشته باشد، برنده ی جایزه ۱۰۰ میلیونی میشه!
            </figcaption>
            </figure>
        </div>
        <p class="number">۳</p>
        </div>
        <img class="nextStepIcon" src="../images/Fill-24-9ADB3659-2C03-4AD9-B6EA-1B24C9458999.png">
        <div class="general-2">
        <div class="prizes">
            <figure>
            <img class="step-2 prize-pic" src="../images/streamlineicongraduation3400x400-CC4674AD-4911-4A84-BE70-FB201D6BA476.png">
            <figcaption class="prize-caption">در ۵ مرحله آزمون فورتیک شرکت کن</figcaption>
            </figure>
        </div>
        <p class="number">۲</p>
        </div>
        <img class="nextStepIcon" src="../images/Fill-24-9ADB3659-2C03-4AD9-B6EA-1B24C9458999.png">
        <div class="general-2">
        <div class="prizes">
            <figure>
            <img class="step-1 prize-pic" src="../images/streamlineiconcoworker21400x400-E9D6DF51-78EF-4783-BD87-1EE1D1D65C46.png">
            <br>
            <br>
            <figcaption class="prize-caption">یک تیم ۵ نفره با دوست های کنکوریت بساز</figcaption>
            </figure>
        </div>
        <p class="number">۱</p>
        </div>
    </div>
</div>
<div class="team">
<h2 class="title-4 titles flex">حالا تیمت رو بساز!</h2>
<div class="team-table">
    <div class="section-1 sections">
        <form action="">
            <label for="teamName" class="teamName">اسم تیم</label>
            <input type="text" id="teamName" placeholder="نام تیم را وارد کنید">
        </form>
    </div>
    <div class="section-2 sections">شماره تماس</div>
    <div class="section-3 sections">نام اعضای تیم</div>
    <div class="section-4 sections">
        <div class="section-4-1">
            <form class="contact-number" action="">
                <label for="1">۱.</label>
                <input type="text" id="1" placeholder="شماره تلفن عضو اول را وارد کنید"> <br>
                <label for="2">۲.</label>
                <input type="text" id="2" placeholder="شماره تلفن عضو دوم را وارد کنید"> <br>
                <label for="3">۳.</label>
                <input type="text" id="3" placeholder="شماره تلفن عضو سوم را وارد کنید"> <br>
                <label for="4">۴.</label>
                <input type="text" id="4" placeholder="شماره تلفن عضو چهارم را وارد کنید"> <br>
                <label for="5">۵.</label>
                <input type="text" id="5" placeholder="شماره تلفن عضو پنجم را وارد کنید">
            </form>
        </div>
        <div class="section-4-2">
            <form class="team-name" action="">
                <label class="label" for="1">۱.</label>
                <input type="text" id="1" placeholder="نام عضو اول را وارد کنید"> <br>
                <label class="label" for="2">۲.</label>
                <input type="text" id="2" placeholder="نام عضو دوم را وارد کنید"> <br>
                <label class="label" for="3">۳.</label>
                <input type="text" id="3" placeholder="نام عضو سوم را وارد کنید"> <br>
                <label class="label" for="4">۴.</label>
                <input type="text" id="4" placeholder="نام عضو چهارم را وارد کنید"> <br>
                <label class="label" for="5">۵.</label>
                <input type="text" id="5" placeholder="نام عضو پنجم را وارد کنید"> 
            </form>
        </div>
    </div>
</div>
<div class="button flex">
    <p class="greateTeamButton">تیمت رو بساز</p>
</div>
</div>
</body>
</html>